# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
.idea

# Ignore root .txt files (security)
/*.txt
!/robots.txt

# Ignore web.config since it's not used
web.config
sites.php
