.pane-ofed-news							{
	background: #f4f4f3;
	border-top: 3px solid #ff7300;
}
.field-name-field-ofed-news-pubdate,
.field-name-field-ofed-news-update		{
	font-size: 0.85em;
	color: #B0AEA4;
}
.field-name-field-ofed-news-author		{
	font-size: 0.85em;
	color: #B0AEA4;
	margin-bottom:10px;
}
.field-name-field-ofed-news-thumb		{
	padding: 5px 10px 5px 0;
	color: white; /*  Bug sous chrome  - le border de l'image est orange 	*/
}
.field-name-field-ofed-news-thumb img	{
	border: 3px solid white;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.field-name-field-ofed-news-docs,
.field-name-field-ofed-news-links,
.field-name-field-ofed-news-video		{
	border: 1px solid #E1DED7;
	background: #F4F4F3;
	padding: 10px 10px 10px 10px;
	margin-bottom:10px;
}
.field-name-field-ofed-news-video .label-above,
.field-name-field-ofed-news-docs .label-above,
.field-name-field-ofed-news-links .label-above				{
	text-decoration: underline;
}
.field-name-field-ofed-news-docs							{
	padding-bottom:0px;
}
.field-name-field-ofed-news-links a							{
	display: block;	
	padding: 5px 0;
}
.field-name-field-ofed-news-docs .label-above,
.field-name-field-ofed-news-links .label-above,
.field-name-field-ofed-news-video .label-above				{
	font-weight: 600;
	font-size: 1.1em;
	padding-bottom: 10px;
	display:block;
}
.view-mode-full	.field-name-field-ofed-news-update,
.view-mode-full	.field-name-field-ofed-news-author			{
    margin-bottom: 5px;
}
.view-display-id-ofed_news_block_column .views-row			{
	float:left;    
	width:33%;
}
.view-display-id-ofed_news_block_column:before,
.view-display-id-ofed_news_block_column:after				{
	display: table;
	content: " ";
	line-height: 0;
	clear: both;
}

@media 	handheld,											/* Only Opera Mobile is compliant for the moment*/
		only screen and (max-device-width:767px),			/* Only for smartphone screen */
		only screen and (max-width:767px)
{
	.view-display-id-ofed_news_block_column .views-row	{
		display: block;
		float: none;
		width: auto;
	}
}